<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.RestDetails"></activity>
        <activity android:name=".Common.SplashScreen$RestDetails" />
        <activity android:name=".Common.RestaurantListView" />
        <activity android:name=".User.OwnerAddNewActivity" />
        <activity android:name=".LocationOwner.OwnerDashboard" />
        <activity android:name=".LocationOwner.OwnerLogin" />
        <activity android:name=".LocationOwner.OwnerRegistration" />
        <activity android:name=".User.UserProfile" />
        <activity android:name=".Common.LoginSinup.SignUp" />
        <activity android:name=".Common.LoginActivity" />
        <activity android:name=".temp" />
        <activity android:name=".User.Restaurant_View" />
        <activity android:name=".Common.LoginSinup.OwnerStartupPage" />
        <activity android:name=".Common.UserDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>